body {
  margin: 0 auto;
  background-color: white;
}
.head img {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 250px;
  height: 250px;
}
.container {
  background-image: url(./img/bg2.svg);
  background-repeat: no-repeat;
}
.header {
  display: flex;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: row;

  justify-content: center;
}
.list {
  background-color: rgb(173, 165, 165);
  height: 830px;
  width: 50%;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 5px 0 grey, 0 1px 4px;
}
.list h2 {
  text-align: center;
  color: dodgerblue;
}
.name-out,
.username-out,
.education-out,
.gender-out,
.birth-out,
.phone-out,
.email-out,
.addres-out {
  margin-top: 35px;
  margin-left: 15px;
}

.span {
  text-align: start;
  margin-left: 75px;
}

/*screen small*/
@media screen and (max-width: 299px) {
  .card {
    flex-wrap: wrap;
  }
  .span {
    color: rgb(19, 17, 17);
    margin-left: 25px;
    font-size: 12px;
  }
  .fa-user-secret,
  .fa-envelope,
  .fa-id-card,
  .fa-lock,
  .fa-user-graduate,
  .fa-venus-mars,
  .fa-baby,
  .fa-futbol,
  .fa-phone-square-alt,
  .fa-street-view {
    color: #930027;
    font-size: 16px;
  }
}
/*screen medium*/
@media screen and (min-width: 300px) and (max-width: 799px) {
  .card {
    flex-wrap: wrap;
  }
  forms {
    width: 70%;
  }
  .list {
    width: 70%;
  }
  .span {
    color: rgb(19, 17, 17);
    font-size: 16px;
  }
  .fa-user-secret,
  .fa-envelope,
  .fa-id-card,
  .fa-lock,
  .fa-user-graduate,
  .fa-venus-mars,
  .fa-baby,
  .fa-futbol,
  .fa-phone-square-alt,
  .fa-street-view {
    color: #930027;
    font-size: 26px;
  }
}
/*screen large*/
@media screen and (min-width: 800px) {
  .fa-user-secret,
  .fa-envelope,
  .fa-id-card,
  .fa-lock,
  .fa-user-graduate,
  .fa-venus-mars,
  .fa-baby,
  .fa-futbol,
  .fa-phone-square-alt,
  .fa-street-view {
    color: #930027;
    font-size: 36px;
  }
}
.education-out {
  text-transform: capitalize;
}

/* batas data diri ke form*/

.forms {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 830px;
  width: 50%;
  background-color: rgb(173, 165, 165);
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 5px 0 grey, 0 1px 4px;
  font-size: 18px;
}
.data {
  display: flex;
  justify-content: center;
  height: auto;
  width: 80%;
  color: white;
  text-align: center;
  border-radius: 15px;
  margin: 15px;
}
.form {
  display: flex;
  flex-direction: column;
}
.nama,
.username,
.lahir,
.phone,
.email,
.addres,
label {
  text-align: start;
}
.nama,
.username,
.lahir,
.phone,
.email,
.addres {
  margin: 5px;
}
.pendidikan {
  margin-top: 5px;
}
.genders {
  margin-top: 5px;
  margin-bottom: 25px;
}
.nama input {
  display: flex;
  border-radius: 10px;
  padding: 7px;
  margin-top: 10px;
  outline: none;
  border: none;
  width: 100%;
}

.nama input:focus {
  border: 1px solid dodgerblue;
}
.username input {
  display: flex;
  border-radius: 10px;
  padding: 7px;
  margin-top: 10px;
  outline: none;
  border: none;
  width: 100%;
}
.username input:focus {
  border: 1px solid dodgerblue;
}
.pendidikan {
  text-align: start;
}
#in-pendidikan {
  margin-top: 20px;
  border-radius: 15px;
  outline: none;
  margin-bottom: 20px;
  color: rgb(46, 38, 38);
}
.lahir #in-ttl {
  display: flex;
  margin-top: 20px;
  border-radius: 15px;
  padding: 5px;
  border: none;
  outline: none;
  color: darkgrey;
  width: 100%;
}
.phone input {
  display: flex;
  border-radius: 10px;
  padding: 7px;
  margin-top: 10px;
  outline: none;
  border: none;
  width: 100%;
}
.phone input:focus {
  border: 1px solid dodgerblue;
}
.email input {
  display: flex;
  border-radius: 10px;
  padding: 7px;
  margin-top: 10px;
  outline: none;
  border: none;
  width: 100%;
}
.email input:focus {
  border: 1px solid dodgerblue;
}
.addres textarea {
  display: flex;
  border-radius: 10px;
  height: 100px;
  padding: 7px;
  margin-top: 10px;
  outline: none;
  border: none;
  resize: none;
  width: 100%;
}
.addres textarea:focus {
  border: 1px solid dodgerblue;
}

.btn input {
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 6px;
  border-radius: 15px;
  width: 75px;
  border: none;
  outline: none;
  background-color: dodgerblue;
  color: whitesmoke;
  font-size: smaller;
}
.btn input:hover {
  background-color: aquamarine;
  color: black;
}
#reset {
  background-color: rgb(146, 43, 43);
}

.footer {
  width: 100%;
  height: 250px;
  background-image: url(./img/bg.svg);
  background-repeat: no-repeat;
}
